<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LV Monitor</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("head", required: false)
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LV Monitor", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Manager") || User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                    {
                    <li>@Html.ActionLink("Monitor", "Index", "Home")</li>
                    <li>@Html.ActionLink("Analytics", "Index", "Analytics")</li>
                    }
                    @if (User.IsInRole("SuperAdmin"))
                    {
                    <li>@Html.ActionLink("App Admin", "Index", "AppAdmin")</li>
                    <li>@Html.ActionLink("User Admin", "Index", "Admin")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        @*<hr/>
            <div id="alert-placeholder" style="padding: 5px;"></div>*@

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - LV Monitor</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    @*SignalR*@
    @*<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
        <script src="~/SignalR/Hubs"></script>
        <script type="text/javascript">
        //a helper function to encode HTML values.
        function htmlEncode(value) {
          return $('<div />').text(value).html();
        }

        //execute on document ready
        $(function () {

          //function that the hub can call when it receives a notification.
          $.connection.notificationHub.client.displayNotification = function (title, message, alertType) {

            //Create the bootstrap alert html
            var alertHtml = '<div class="alert alert-' + htmlEncode(alertType) + ' alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span>×</span></button><strong>' + htmlEncode(title) + '</strong> ' + htmlEncode(message) + '</div>';

            $(alertHtml)
              .hide()                           //hide the newly created element (this is required for fadeIn to work)
              .appendTo('#alert-placeholder')   //add it to the palceholder in the page
              .fadeIn(500);                     //little flair to grab user attention
          };

          window.notifyApp = {
            hubConnector: $.connection.hub.start()  //start the connection and store object returned globally for access in child views
          };

        });

        </script>*@





    @RenderSection("scripts", required: false)
</body>
</html>
