@model IEnumerable<LvMonitor.Models.Lvm_MediaType>
<div class="lvm-box">
    <div class="lvm-box-header">
        <span>@ViewBag.Title</span>
    </div>
    <div class="lvm-box-body">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table table-striped lvm-table">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Media Type
                </th>
                <th class="lvm-th-ico"></th>
            </tr>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MediaTypeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MediaType)
                </td>
                <td class="lvm-td-ico">
                    @Html.ActionLink(" ", "Details", "MediaType", new { id = item.MediaTypeId }, new { @class = "fa fa-eye" })&nbsp;
                    @Html.ActionLink(" ", "Edit", "MediaType", new { id = item.MediaTypeId }, new { @class = "fa fa-pencil-square-o" })&nbsp;
                    @*@Html.ActionLink(" ", "Delete", "MediaType", new { id = item.MediaTypeId }, new { @class = "fa fa-trash" })*@
                </td>
            </tr>
            }
        </table>
    </div>
</div>