@model LvMonitor.Models.Lvm_Room
<div class="lvm-box">
    <div class="lvm-box-header">
        <span>@ViewBag.Title.TrimEnd('s') @ViewBag.SubTitle</span>
    </div>
    <div class="lvm-box-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    Facility
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Lvm_Facility.FacilityName)
                </dd>
                <dt>
                    Floor #
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FloorNumber)
                </dd>
                <dt>
                    Room #
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RoomNumber)
                </dd>
                <dt>
                    Description
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RoomDescription)
                </dd>
                <dt>
                    <span class="control-label">Devices</span>
                </dt>
                <dd>
                    @if (Model.Lvm_Device.Count() > 0)
                    {
                    @Html.Partial("~/Views/Room/RoomDevices.cshtml", Model)
                    }
                    else
                    {
                    <text>No Devices Found</text>
                    }
                </dd>
            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.RoomId })
        </p>
    </div>
</div>
