@model PagedList.IPagedList<LvMonitor.Models.Lvm_Room>
@using PagedList.Mvc;
@section head {<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />}

<div class="lvm-box">
    <div class="lvm-box-header">
        <span>@ViewBag.Title</span>
    </div>
    <div class="lvm-box-body">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        @using (Html.BeginForm("Index", "Room", FormMethod.Get))
        {
            if (ViewBag.IsSingleFacility)
            {
            @Html.Hidden("FacilityId", (string)ViewBag.FacilityId.ToString())
            <p>
                <label for="fileUpload" class="btn btn-default">
                    Import Rooms From File
                    <input type="file" accept=".csv" id="fileUpload" style="display:none" />
                </label>
            </p>
            }
            else
            {
            <div class="row" style="margin-bottom:10px;">
                <div class="col-md-6">
                    @Html.DropDownList("FacilityId", (SelectList)ViewBag.lFacility, null, htmlAttributes: new { @class = "form-control", onchange = "this.form.submit();" })
                </div>
                <div class="col-md-6">
                    <div style="float:right;">
                        <label for="fileUpload" class="btn btn-default">
                            Import Rooms From File
                            <input type="file" accept=".csv" id="fileUpload" style="display:none">
                        </label>
                    </div>
                </div>
            </div>
            }
        }
        <table class="table table-striped lvm-table">
            <tr>
                <th>
                    Facility
                </th>
                <th>
                    Floor #
                </th>
                <th>
                    Room #
                </th>
                <th>
                    Description
                </th>
                <th class="lvm-th-ico"></th>
            </tr>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Lvm_Facility.FacilityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FloorNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomDescription)
                </td>
                <td class="lvm-td-ico">
                    @Html.ActionLink(" ", "Details", "Room", new { id = item.RoomId }, new { @class = "fa fa-eye" })&nbsp;
                    @Html.ActionLink(" ", "Edit", "Room", new { id = item.RoomId }, new { @class = "fa fa-pencil-square-o" })&nbsp;
                    @Html.ActionLink(" ", "Delete", "Room", new { id = item.RoomId }, new { @class = "fa fa-trash" })
                </td>
            </tr>
            }
        </table>
        <div class="lvm-tbl-pager">
            <div class="lvm-tbl-pager-btn">@Html.PagedListPager(Model, page => Url.Action("Index", new { FacilityId = ViewBag.FacilityId, page }))</div>
            <div class="lvm-tbl-pager-pagenum">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
        </div>
        <h5>
            <b>@Html.ActionLink("Import Record Format:", "DownloadSampleCsv", "Room", null, new { title = "Click to download sample file." })</b> RoomNumber, FloorNumber, RoomDescription
        </h5>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/App/lvm-upload-room.js")
}