@model LvMonitor.Models.Lvm_SecurityIp

<div class="lvm-box">
    <div class="lvm-box-header">
        <span>@ViewBag.SubTitle @ViewBag.Title</span>
    </div>
    <div class="lvm-box-body">
        <p class="text-danger">@ViewBag.AreYouSure</p>
        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <dl class="dl-horizontal">
                <dt>
                    IP
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IP)
                </dd>
                <dt>
                    Is White IP
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IsIpWhite)
                </dd>
                <dt>
                    Is Black IP
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IsIpBlack)
                </dd>
                <dt>
                    Facility
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Lvm_Facility.FacilityName)
                </dd>
            </dl>
            @using (Html.BeginForm())
            {@Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <div class="col-md-offset-1 col-md-9">
                    <input type="submit" value="Delete" class="btn btn-default" />
                </div>
            </div>
            }
        </div>
    </div>
</div>