@model IEnumerable<LvMonitor.Models.Lvm_ResourceText>
<div class="lvm-box">
    <div class="lvm-box-header">
        <span>@ViewBag.Title</span>
    </div>
    <div class="lvm-box-body">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table table-striped lvm-table">
            <tr>
                <th>
                    Text Type
                </th>
                <th>
                    Description
                </th>
                <th class="lvm-th-ico"></th>
            </tr>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Lvm_ResourceTextType.ResourceTextType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="lvm-td-ico">
                    @Html.ActionLink(" ", "Details", "ResourceText", new { id = item.ResourceTextId }, new { @class = "fa fa-eye" })&nbsp;
                    @Html.ActionLink(" ", "Edit", "ResourceText", new { id = item.ResourceTextId }, new { @class = "fa fa-pencil-square-o" })&nbsp;
                    @Html.ActionLink(" ", "Delete", "ResourceText", new { id = item.ResourceTextId }, new { @class = "fa fa-trash" })
                </td>
            </tr>
            }
        </table>
    </div>
</div>
