@model LvMonitor.Models.Lvm_CdrType

<div class="lvm-box">
    <div class="lvm-box-header">
        <span>@ViewBag.SubTitle @ViewBag.Title</span>
    </div>
    <div class="lvm-box-body">
        <p class="text-danger">@ViewBag.AreYouSure</p>
        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CdrType)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CdrType)
                </dd>
            </dl>
            @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
            }
        </div>
    </div>
</div>