@model PagedList.IPagedList<LvMonitor.Models.Lvm_DeviceRecord>
@using PagedList.Mvc;
@section head {<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />}

@using (Html.BeginForm("Index", "DeviceRecord", FormMethod.Get))
{
<p>@Html.DropDownList("FacilityId", new SelectList(ViewBag.Facility, "FacilityId", "FacilityName").InsertEmptyFirst("Select Facility", "0"), null, htmlAttributes: new { @class = "form-control", onchange = "this.form.submit();" })</p>
}
<div class="lvm-box">
    <div class="lvm-box-header">
        <span>@ViewBag.Title</span>
    </div>
    <div class="lvm-box-body">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table table-striped lvm-table">
            <tr>
                <th>
                    Facility ID
                </th>
                <th>
                    Ctl ID
                </th>
                <th>
                    Ctl On
                </th>
                <th>
                    Monitor ID
                </th>
                <th>
                    Temp ID
                </th>
                <th>
                    Device Data
                </th>
                <th>
                    Processed
                </th>
                <th>
                    Date
                </th>
                <th>
                    Error
                </th>
                <th>
                    Error Msg
                </th>
                <th>
                    Device Name
                </th>
                @*<th class="lvm-th-ico"></th>*@
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FacilityId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ControlId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsControlOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonitorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TemplateId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceData)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsProcessed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsError)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ErrorMessage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lvm_Device.DeviceName)
                </td>
                @*<td class="lvm-td-ico">
                        @Html.ActionLink(" ", "Details", "Details", new { id = item.FacilityId }, new { @class = "fa fa-eye" })&nbsp;
                        @Html.ActionLink(" ", "Edit", "Edit", new { id = item.FacilityId }, new { @class = "fa fa-pencil-square-o" })&nbsp;
                        @Html.ActionLink(" ", "Delete", "Delete", new { id = item.FacilityId }, new { @class = "fa fa-trash" })
                    </td>*@
            </tr>
            }
        </table>
        <div class="lvm-tbl-pager">
            <div class="lvm-tbl-pager-btn">@Html.PagedListPager(Model, page => Url.Action("Index", new { FacilityId = ViewBag.FacilityId, page }))</div>
            <div class="lvm-tbl-pager-pagenum">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
        </div>
    </div>
</div>
