@*@model IEnumerable<LvMonitor.Models.Lvm_StateProvince>*@

@model PagedList.IPagedList<LvMonitor.Models.Lvm_StateProvince>
@using PagedList.Mvc;

@section head {
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
}

@functions {
  MvcHtmlString IndexSort(string SortField) { return Html.ActionLink(SortField, "IndexSort", new { SortFieldOld = ViewBag.SortFieldOld, SortField = SortField, SortOrder = ViewBag.SortOrder, CountryId = ViewBag.CountryId }); }
  //string PageAction(int page) { return Url.Action("Index", new { SortField = ViewBag.SortField, SortOrder = ViewBag.SortOrder, CountryId = ViewBag.CountryId, page=page }); }
}
<div class="lvm-box">
    <div class="lvm-box-header">
        <span>@ViewBag.Title</span>
    </div>
    <div class="lvm-box-body">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        @using (Html.BeginForm("Index", "StateProvince", FormMethod.Get))
        {
        <p>
            @Html.DropDownList("CountryId", (SelectList)ViewBag.Country, "Select Country", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit();" })
            @*<br/>
                <input type="submit" value="Search" />*@
        </p>
        }
        <table class="table table-striped lvm-table">
            <tr>
                <th>
                    @IndexSort("CountryCode")
                </th>
                <th>
                    @IndexSort("Code")
                </th>
                <th>
                    @IndexSort("Name")
                </th>
                <th class="lvm-th-ico"></th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Lvm_Country.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="lvm-td-ico">
                    @Html.ActionLink(" ", "Details", "StateProvince", new { id = item.StateProvinceId }, new { @class = "fa fa-eye" })&nbsp;
                    @Html.ActionLink(" ", "Edit", "StateProvince", new { id = item.StateProvinceId }, new { @class = "fa fa-pencil-square-o" })&nbsp;
                    @Html.ActionLink(" ", "Delete", "StateProvince", new { id = item.StateProvinceId }, new { @class = "fa fa-trash" })
                </td>
            </tr>
            }
        </table>
        <div class="lvm-tbl-pager">
            <div class="lvm-tbl-pager-btn">@Html.PagedListPager(Model, page => Url.Action("Index", new { SortField = ViewBag.SortField, SortOrder = ViewBag.SortOrder, CountryId = ViewBag.CountryId, page }))</div>
            <div class="lvm-tbl-pager-pagenum">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
        </div>
    </div>
</div>
